@import "tailwindcss";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

#root {
  margin: 0 auto;
  padding: 0px;
}

.content-container{
  max-width: 1440px;
  margin: 0 auto;
}